/* CSS Variables */
:root {
  --color-bg: #464e47;
  --color-text-main: #f1fffa;
  --color-primary: #96e6b3;
  --color-highlight: #568259;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

html {
  background-color: var(--color-bg);
}

body {
  font-family: var(--font-family);
  color: var(--color-text-main);
}

::selection {
  background: var(--color-highlight);
}

a {
  color: var(--color-text-main);
  text-decoration: none;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 10px 0px;
  opacity: 0.9;
}

.fourGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.centerGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourGridPhoto {
  grid-column: span 1 / span 1;
}

.fourGridPhoto > img {
  max-width: 80%;
  margin: auto;
  border-radius: 50%;
}

.fourGridDate {
  grid-column: span 1 / span 1;
  opacity: 0.5;
}

.location {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}

.fourGridItem {
  grid-column: span 3 / span 3;
}

.link {
  display: block;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 6px;
  line-height: 200%;
}

.link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background: url('https://cdn.glitch.global/de491910-0060-4fe1-87cc-7ff32c7bf88e/linkArrow.svg?v=1678144329425') 0 0 no-repeat;
  background-size: contain;
}

/* Sections */
.header {
  position: sticky;
  top: 0;
  background-color: var(--color-bg);
  padding: 20px 10px;
  margin: 0;
  z-index: 99;
}

.thinContainer {
  padding: 115px 10px;
  max-width: 500px;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
}

.aboutMe {
  line-height: 100%;
}
