/* CSS Variables */
:root {
  --color-bg: #464e47;
  --color-text-main: #f1fffa;
  --color-primary: #96e6b3;
  --color-highlight: #568259;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

html {
  background-color: var(--color-bg);
}

body {
  font-family: var(--font-family);
  color: var(--color-text-main);
}

::selection {
  background: var(--color-highlight);
}

a {
  color: var(--color-text-main);
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 10px 0px;
  opacity: 0.9;
}

.fourGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.fourGridDate {
  grid-column: span 1 / span 1;
  opacity: 0.5;
}

.location {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}

.fourGridItem {
  grid-column: span 3 / span 3;
}

.wavy {
  display: block;
  -webkit-text-decoration: wavy underline;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 6px;
  line-height: 200%;
}

.wavy::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background: url("https://cdn.glitch.global/de491910-0060-4fe1-87cc-7ff32c7bf88e/linkArrow.svg")
    0 0 no-repeat;
  background-size: contain;
  transition: transform .5s ease-in-out;
}

.wavy:hover:after {
  transform: rotate(45deg);
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid var(--color-text-main);
}

.nav > a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: bold;
}

.header {
  position: sticky;
  top: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--color-bg);
  z-index: 99;
}

.thinContainer {
  padding: 115px 10px;
  max-width: 500px;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
}

.aboutMe {
  line-height: 100%;
  margin-block-start: 0;
}

.nav {
  padding-inline-start: 15px;
  cursor: default;
  width: auto;
  display: flex;
  gap: 10px;
  user-select: none;
  list-style: none;
}

.certGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.certItem {
  grid-column: span 1 / span 1;
}

.skillPills {
  margin: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.skillPills > span {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 1em;
  padding: 0px 6px;
  text-transform: uppercase;
  font-size: 12px;
}