/* CSS Variables */
:root {
  --color-bg: #464e47;
  --color-text-main: #f1fffa;
  --color-primary: #96e6b3;
  --color-highlight: #568259;
  --rerouter-blue: #3496ff;
  --qrpop-orange: #ff861a;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "Hanken Grotesk", sans-serif;
  --font-family-header: "Hanken Grotesk", sans-serif;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap');

html {
  background-color: var(--color-bg);
}

body {
  font-family: var(--font-family);
  color: var(--color-text-main);
  padding: 0px 10px;
}

::selection {
  background: var(--color-highlight);
}

a {
  color: var(--color-text-main);
  text-decoration: none;
}

h1 {
  margin: 0;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  margin-inline: 0;
}

p {
  margin: 10px 0px;
  opacity: 0.9;
}

.fourGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.fourGridDate {
  grid-column: span 1 / span 1;
  opacity: 0.75;
}

.location {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}

.fourGridItem {
  grid-column: span 3 / span 3;
}

.wavy {
  display: block;
  -webkit-text-decoration: wavy underline;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 6px;
  line-height: 200%;
}

.wavy::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background: url("/src/assets/linkArrow.svg")
    0 0 no-repeat;
  background-size: contain;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.wavy:hover:after {
  transform: rotate(45deg);
}

.primary {
  color: var(--color-primary);
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid var(--color-text-main);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

img.rounded:hover {
  border: 4px solid var(--color-primary);
  margin: -3px;
}

.nav > li > a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: bold;
}

.header {
  position: sticky;
  top: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--color-bg);
  z-index: 99;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  column-gap: 4px;
  opacity: 0.75;
  font-size: 14px;
  justify-content: center;
  padding: 10px 40px;
}

.footer > p {
  margin: 0;
  text-align: center;
  padding: 0;
}

.footer > a:hover {
  color: var(--color-primary);
}

.thinContainer {
  /*   padding: 20px 20px 0px 20px; */
  max-width: 500px;
  margin: 115px 10px;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
}

.invertedBox {
  background-color: var(--color-text-main);
  color: var(--color-bg);
  border-radius: 22px;
  padding: 20px;
}

.aboutMe {
  line-height: 100%;
  margin-block-start: 0;
}

.nav {
  padding-inline-start: 15px;
  cursor: default;
  width: auto;
  display: flex;
  gap: 10px;
  user-select: none;
  list-style: none;
}

.certGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.certItem {
  grid-column: span 1 / span 1;
}

.skillPills {
  margin: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.skillPills > span {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 1em;
  padding: 0px 6px;
  text-transform: uppercase;
  font-size: 12px;
}

.appGrid {
  padding: 10px;
}

.appInfo {
  max-width: 400px;
  max-height: 125px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  background-color: var(--color-text-main);
  color: var(--color-bg);
  margin: 25px auto;
  padding: 10px 10px;
  border-radius: 22px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: grid;
  cursor: pointer;
}

.appMeta > h2 {
  margin: 0;
}

.appMeta > p {
  margin: 0;
  opacity: 0.75;
}

.appInfo:hover {
  transform: scale(1.04);
  box-shadow: 6px 10px #00000020;
}

.appIcon {
  margin: auto 0;
  max-height: 114px;
}

.appIcon > img {
  grid-column: span 1 / span 1;
  max-width: 114px;
  border-radius: 20px;
}

.appMeta {
  margin: auto 0;
  grid-column: span 2 / span 2;
}

.blue {
  color: var(--rerouter-blue);
}

.orange {
  color: var(--qrpop-orange);
}

.appIconContainer {
  padding-top: 50px;
}

.embededAppIcon {
  width: 125px;
  height: 125px;
  border-radius: 26px;
  overflow: hidden;
  display: block;
  margin: auto;
  border: 3px solid var(--color-text-main);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.embededAppIcon:hover {
  box-shadow: 0px 6px var(--color-text-main);
}

.embededAppIcon > img {
  width: 125px;
  height: 125px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.rerouterHero {
  margin-top: 20px;
  margin-bottom: -25px;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 300px;
  background-image: url("/src/assets/phone-route-light.png");
}

.qrpopHero {
  margin-top: 20px;
  margin-bottom: -25px;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 300px;
  background-image: url("/src/assets/qr-route-light.png");
}

.appTitle {
  font-size: 32px;
}

.iconHref > img {
  width: 20px;
  margin-right: 0.5em;
}

.iconHref {
  display: flex;
  align-items: center;
}

.viewGithub > a > img {
  width: 24px;
}

.viewGithub > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.viewGithub {
  display: flex;
  justify-content: center;
  padding: 20px;
}
